<form method="post" action="/users">

    <div>
        <label for="username">Votre pseudo :</label>
        <input type="text" name="username" id="username" placeholder="Ex : Zozor" size="30" maxlength="10" />
    </div>
    <div>
        <label for="email">Email :</label>
        <input type="email" name="email" id="email" placeholder="Ex : Zozor@email.com" size="30" maxlength="10" />
    </div>
    <div class ="button">
    	<button type "submit" > Save user</button>
    	<button type "reset"> Reset </button>

    </div>
</form>